<!DOCTYPE html>
<html lang="en">
<%- include("../Partials/Head.ejs"); %> 
<body>
    <%- include("../Partials/Navbar.ejs"); %>

   <div class="container-fluid">
     <div class="row">
          <% game.forEach(element => { %>
               <div class="col-md-2">
                 <div class="card" style="margin: auto; margin-top: 12px; width: auto; height: 25rem;">
                      <div class="card-body d-flex flex-column">
                         <div class="card-header text-center" style="margin-bottom: 15px;">
                              <h5 class="card-title "><%= element.name %></h5>
                         </div>
                         <p class="card-text">Game Duration: <%= element.duration %></p>
                         <p class="card-text">Game Team Size: <%= element.team_size %></p>
                         <p class="card-text">Game ID: <%= element.game_id %></p>
                 
                         <!-- <a href="/esports-games/edit/<%= element.game_id %>" class="btn btn-lg btn-block btn-primary mt-auto">Edit Game</a> -->
                         <!-- <a href="#" class="btn btn-lg btn-block btn-primary mt-auto">Remove Game</a> -->

                         <!-- TODO: FIX ROUTE -->
                         <form action="" method="get">
                              <button href="#" class="btn btn-lg btn-block btn-primary" style="margin-top: 10px;">View Players</button>
                         </form>

                         <form action="/esports-games/edit/<%= element.game_id %>" method="get">
                              <button type="submit" class="btn btn-lg btn-block btn-primary" style="margin-top: 10px;">Edit Game</button>
                         </form>

                         <!-- TODO: FIX ROUTE HERE -->
                         <form action="/esports-games/remove/<%= element.game_id %>/" method="post">
                              <button type="submit" class="btn btn-lg btn-block btn-primary" style="margin-top: 10px;">Remove Game</button>
                         </form>






                      </div>
                 </div>
               </div>
          <% }) %>
     </div>
   </div>

   <%- include("../Partials/Footer.ejs"); %>

</body>
</html>