<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><%= nav.homePageTitle %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= nav.navLinkOneHref %>"><%= nav.navLinkTitleOne %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= nav.navLinkTwoHref %>"><%= nav.navLinkTitleTwo %></a>
            </li>
        </ul>
    </div>
</nav>
