<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled" href="#"><%= homePageTitle %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/<%= navLinkOneHref %>"><%= navLinkTitleOne %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= navLinkTwoHref %>"><%= navLinkTitleTwo %></a>
            </li>
        </ul>
    </div>
</nav>
